[user]
	email = {{ doppler "PERSONAL_EMAIL" }}
	name = {{ doppler "PERSONAL_NAME" }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
