[submodule "private_dot_config_/external_hypr_"]
	path = dot_config/external_hypr
	url = git@github.com:SuchWowEl/arch-hyprland-config.git
	branch = hyprpanel
[submodule "private_dot_config_/external_nvim_"]
	path = dot_config/external_nvim
	url = git@github.com:SuchWowEl/my_nvim.git
[submodule "dot_config/external_tmux"]
	path = dot_config/external_tmux
	url = git@github.com:SuchWowEl/tmux-config.git
