unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

unbind r
bind r source-file ~/.config/tmux/tmux.conf

bind -n M-H previous-window
bind -n M-L next-window

bind v "split-window -c '#{pane_current_path}'"
bind h "split-window -h -c '#{pane_current_path}'"
bind u "neww -c '#{pane_current_path}'"

# config bugs out for some reason, manually declare the keybinds instead
bind l "last-window"
bind m "select-pane -m"
bind ! "setw synchronize-panes off"
# synchronize-panes
# bind l "last-window"

bind o 'run-shell -b "~/.config/tmux/plugins/tmux-fzf/scripts/window.sh switch"'
bind O 'run-shell -b "~/.config/tmux/plugins/tmux-fzf/scripts/session.sh switch"'
# bind C-c run-shell "cd \"$(fzf | grep -o '.*/')\""
# cd "$(fzf | grep -o '.*/')"
# bind P 'run-shell -b "fzf-tmux -p -w 62% -h 38% -m switch"'

set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
set -g default-terminal "tmux-256color"
set -as terminal-overrides ',xterm-256color:RGB'
set -as terminal-overrides ',tmux-256color:RGB'
{{- end }}

set -s set-clipboard on
set -s copy-command 'wl-copy -p'

set -g mouse on
setw -g mode-keys vi

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-sessionist'
set -g @plugin 'sainnhe/tmux-fzf'
# set -g @plugin 'Chaitanyabsprip/tmux-harpoon'
# set -g @plugin 'spywhere/tmux-now-playing'
# set -g @plugin '27medkamal/tmux-session-wizard'
# set -g @plugin 'tmux-plugins/tmux-sidebar'

#resurrect-nvim
set -g @resurrect-strategy-vim 'session'
set -g @resurrect-strategy-nvim 'session'

source-file ~/.config/tmux/theme.conf

set -g status-position top

# add for tpm
run '~/.config/tmux/plugins/tpm/tpm'
