':/home/{{ .chezmoi.username }}/.local/share/chezmoi
c:/home/{{ .chezmoi.username }}/.config
u:/home/{{ .chezmoi.username }}/.config
a:/home/{{ .chezmoi.username }}/Documents/acads/4th/2nd sem
Y:/home/{{ .chezmoi.username }}/.cache/yay
L:/home/{{ .chezmoi.username }}/.local/share/nvim/lazy/LazyVim
d:/home/{{ .chezmoi.username }}/Downloads
o:/home/{{ .chezmoi.username }}/Documents/Obsidian Vault
x:/home/{{ .chezmoi.username }}/Documents/experime
O:/home/{{ .chezmoi.username }}/Videos/obs
e:/home/{{ .chezmoi.username }}/Documents/experime
q:/home/{{ .chezmoi.username }}/Documents/acads/4th/thesis/project/msu-iit-academic-data-mart2/nifi
n:/home/{{ .chezmoi.username }}/Documents/acads/4th/thesis/project/msu-iit-academic-data-mart2
m:/home/{{ .chezmoi.username }}/Downloads
l:/home/{{ .chezmoi.username }}/.local
